body {
    font-family: 'Open Sans Condensed', Montserrat, serif;
    padding: 20px 60px;
    /*font-family: Montserrat;*/
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}